
.modalPar{
 width: 400px;
 height: 290px;
 background-color: #ffffff;
 position: absolute;
 top:45vh;
 left: 0px;
 right: 0px;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
 margin: auto;
 text-align: center;
 filter:drop-shadow(10px 10px 10px rgba(128, 128, 128, 0.76));
 -webkit-filter:drop-shadow(10px 10px 10px rgba(128, 128, 128, 0.76));
 z-index: 20000;
}

.modalPa{
    position: absolute;
}

.modalFirstText{
    color:orange;
    font-size: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 30px;
}
.modalSecondText{
    color:orange;
    font-size: 20px;
    margin-top: 1px;
    padding-top: 0px;
}
.modalInput{
    width: 217px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-bottom: 10px;
    outline: none;
    height: 26px;
}
.modalInput::placeholder{
    padding-left: 15px;
    font-size: 12px;
}
.modalThrdText{
    font-size: 16px;
margin-top: 7px;
margin-bottom: 10px;
}
.shopnowBtn{
    width: 108px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-image: linear-gradient(to right, #ff9115 , #ff9115,#d44700);
    color: white;
    padding: 4px 10px 4px 10px;
    height: 25px;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
}

.appdownloadBtn{
    width: 108px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background:whitesmoke;
    color: white;
    padding: 4px 10px 4px 10px;
    height: 25px;
    margin-right: 10px;
    font-size: 14px;
    filter: drop-shadow(3px 3px 3px grey);
    -webkit-filter: drop-shadow(3px 3px 3px grey);
    cursor: pointer;
}
.buttonInside{
    position:relative;
    margin-bottom:10px;
  }
  .dropdown{
    position:absolute;
    right: 0px;
    top: 4px;
    border:none;
    height:20px;
    width:20px;
    border-radius:100%;
    outline:none;
    text-align:center;
    font-weight:bold;
    padding:2px;
  }